#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
  .pull-right {
  	margin-left: 5px;
  }
  .slider {
    position: relative;
    top: 10px;
  }
  .row {
    margin-bottom: 10px;
  }
  .well-settings {
    padding-left: 5px;
    padding-right: 5px;
  }
  .tab-content {
    margin-top: 10px;
  }
}