* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.korg-border {
	position: block;
	width:100%;
	margin:0 auto;
	padding:10px;
	.pad-row {
		height:110px;
		width:100%;
		margin-bottom: 2px;

		span.pad {
			display:inline-block;
			width:24%;
			border:2px solid black;
			height: 100px;
			border-radius: 10px;
			margin-left:1%;
		}
	}

}
.red {
	color:black;
	background-color:red
}
	


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';